@import "tailwindcss";

:root {
  --background: #001100;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
body {
  background: linear-gradient(to right, #003311 0%, #002200 70%, #001100 100%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
